/.metadata/
Epitrello/.settings/org.eclipse.jdt.core.prefs
Epitrello/.project
Epitrello/.gitignore
Epitrello/.classpath
Epitrello/.metadata/
Epitrello/.metadata/.lock
Epitrello/.metadata/.log
Epitrello/.metadata/version.ini
Epitrello/.metadata/.mylyn/repositories.xml.zip
Epitrello/.metadata/.mylyn/tasks.xml.zip
Epitrello/.metadata/.mylyn/.taskListIndex/segments_1
Epitrello/.metadata/.mylyn/.taskListIndex/write.lock
Epitrello/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
Epitrello/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
Epitrello/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
Epitrello/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
Epitrello/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Epitrello/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
Epitrello/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
Epitrello/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
Epitrello/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
Epitrello/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
Epitrello/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
Epitrello/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
Epitrello/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
Epitrello/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
Epitrello/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
Epitrello/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
Epitrello/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Epitrello/.metadata/.plugins/org.eclipse.egit.ui/dialog_settings.xml
Epitrello/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
Epitrello/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
Epitrello/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
Epitrello/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
Epitrello/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
Epitrello/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
Epitrello/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
Epitrello/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
Epitrello/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.13.0.20190716-1624.xml
Epitrello/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
Epitrello/.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
Epitrello/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
Epitrello/.metadata/.plugins/org.eclipse.ui.intro/introstate
Epitrello/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
Epitrello/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
Epitrello.trace.db
output.txt
